# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Tests

on:
  workflow_dispatch:
    branches: ["main", "dev"]
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read


jobs:
  miniconda:
    name: Miniconda ${{ matrix.os }} python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: False
        matrix:
            os: ["ubuntu-latest", "windows-latest"]
            python-version: [ '3.8', '3.10' ]
    steps:
      - uses: actions/checkout@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: ENVs100py
          environment-file: environment.yml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
          channels: conda-forge
          channel-priority: strict
      - shell: bash -el {0}
        run: |
          python3 -m pip install --upgrade pip
          pip install pytest
          pip install -e .

      - name: Run pytest
        shell: bash -el {0}
        run: |
          python -m pytest

      - name: Debug environment
        if: failure()
        shell: bash -el {0}
        run: |
          conda env export --no-builds
          which python
          which pytest
          python -m pip list | grep pytest
